body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f7f8fc;
}

header {
    padding: 80px 20px;
    text-align: center;
    background: white;
}

header h1 {
    font-size: 40px;
    margin: 0;
}

header span {
    color: #7b3fe4;
}

header p {
    margin-top: 10px;
    color: #555;
}

.btn {
    display: inline-block;
    padding: 12px 25px;
    margin-top: 20px;
    background: #7b3fe4;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}

#projects {
    padding: 60px 20px;
    text-align: center;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}
footer {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    color: #777;
}
.card:hover {
    color: white;
background-color: gray;
}
a {
text-decoration: none;
}
a:active {
    color: green;
}